.bd-example {
	max-height: 60%;
}
.carousel-caption {
padding-bottom: 25%;
}


.cardcols {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%
}

.card-title {
	display: flex;
	justify-content: center;
}

.section3 {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.jumbotron {
	max-width: 65%;
}



